<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well">
			<p id="notice"><%= notice %></p>

			<p>
			  <%= @pin.descriptions %>
			  <%= link_to 'Edit', edit_pin_path(@pin) %> |
			<%= link_to 'Back', pins_path %>
			</p>
			
		</div>
	</div>
<div>